<!-- Create ticket page -->
{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container mt-4">
    <nav class="nav">
      <div>
          <button class="btn btn-secondary btn-sm mt-1 mb-1" type="submit" form="create_form">Save</button>
          <a class="btn btn-danger btn-sm mt-1 mb-1" href="#">Cancel</a> <!-- ADD: Return to ticket queue -->
      </div>
    </nav>
    <form id="create_form" method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Create new ticket</legend>
        {{ form|crispy }}
      </fieldset>
    </form>
  </div>
{% endblock content %}
